<div id="wrapper" class="wrapper signup-page" ng-controller="newpasswordCtr as newpassword">
    <div id="content" class="container signup forgot-password clearfix">
        <div class="form-user clearfix" id="signin-popup">
            <div class="logo clearfix"> <img src="images/logo-full-color.png" alt="image1"> </div>
            <div class="modal-login modal-signup clearfix">
                <div class="form-action">
                    <div class="form-login form-signup">
                        <h3 class="title-login"> Thay đổi mật khẩu </h3>
                        <form class="cd-form floating-labels" name="formSubmit">
                            <div class="text">
                                <p>Vui lòng nhập "Mật khẩu mới" của bạn ở dưới!</p>
                            </div>
                            <div class="form-group"> <span class="your-email icon"> <label class="cd-label">Mật khẩu mới</label> <input class="email error" type="password" name="cd-email" ng-model="pass" required autofocus ng-keydown="getKeyDown($event)" required placeholder="Mời bạn nhập mật khẩu mới"> </span> </div>
                            <div class="form-group"> <span class="your-email icon"> <label class="cd-label">Nhắc lại mật khẩu</label> <input class="email error" type="password" name="cd-email" ng-model="repass" required ng-keydown="getKeyDown($event)" required placeholder="Nhắc lại mật khẩu"> </span> </div>
                            <div class="form-group clearfix"> <span class="your-email"> <input id="btn-sm" type="submit" class="form-control" name="" value="Tạo mật khẩu mới" ng-click="submit($event)"> </span> </div>
                        </form>
                        <div class="bottomlinks clearfix">
                            <div class="link"> <span class="getStarted text-center"><a ui-sref="register">Đăng ký tài khoản</a> &nbsp;Hoặc &nbsp;<a ui-sref="auth.login">Đăng nhập</a></span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>