<header id="header" class="header-themestore ">
    <nav class="navbar navbarmain navtheme" style="top: 0px;">
        <div id="menu_v1">
            <div class="container-menu container-fluid">
                <!-- version 1.1 -->
                <div id="menu_mobi" class="visible-xs visible-sm" style="float:right">
                    <div class="slicknav_menu icon_slicknav_menumb">
                        <a href="javascript:void(0)" id="showmenu-mobile" class="slicknav_btn slicknav_collapsed" style="outline: none;">
                            <span class="slicknav_menutxt"></span>
                            <span class="slicknav_icon slicknav_no-text">
                                <span class="slicknav_icon-bar"></span>
                                <span class="slicknav_icon-bar"></span>
                                <span class="slicknav_icon-bar"></span>
                            </span>
                        </a>
                    </div>
                </div>
                <!-- desk -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="//punnel.com">
                        <img class="logo" alt="punnel logo" src="https://hstatic.punnel.com/img/punnel/logo-white-color.png" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navHeader">
                    <ul class="nav navbar-nav" id="menu">
                        <li class="active">
                            <a href="/">Kho giao diện</a>
                        </li>
                        <li class="">
                            <a target="_blank" href="//blog.punnel.com">
                                Landing Page là gì
                            </a>
                        </li>
                        <li class="">
                            <a target="_blank" href="//support.punnel.com/article/30-huong-dan-tao-landing-page">
                                Các bước thiết kế Landing Page
                            </a>
                        </li>
                        <li class="">
                            <a target="_blank" href="//support.punnel.com">
                                Hướng dẫn sử dụng Punnel
                            </a>
                        </li>
                        <li class="">
                            <a target="_blank" href="//www.youtube.com/channel/UCKoXgkZLSH9Da_HskK1RfbQ">
                                Video 
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="menu-right"><a rel="nofollow" target="_blank" class="menu-login" href="//app.punnel.com/#!/auth/login/">Đăng nhập</a></li>
                        <li class="menu-right"><a rel="nofollow" target="_blank" href="//app.punnel.com/#!/auth/register/" class="btn menu-regis hrv-btn-register">Thử ngay</a></li>
                    </ul>
                </div>
                <!-- end desk -->
            </div>
        </div>
    </nav><!-- End navbar -->
</header>