<div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="heading-page-collection text-center">
            <h1>@ViewBag.SEO_Title</h1>
            <p>@ViewBag.SEO_Desc</p>
        </div>
    </div>
</div>
