<div id="content" class="container clearfix" ng-controller="movePunnelCtrl">
    <div class="search-title">
        <div class="group clearfix">
            <div class="box-group"> <span>Email gửi Landing Page</span> <input type="text" ng-model="emailForm"> </div>
            <div class="box-group"> <span>Email nhận Landing Page</span> <input type="text" ng-model="emailTo"> </div>
            <div class="box-group"> <span>ID Landing Page</span> <input type="text" ng-model="IDLadi"> </div>
            <div class="box-group"> <span>Domain Landing Page</span> <input type="text" ng-model="domainLadi"> </div>
            <div class="box-group"> <button ng-click="changeEmail()">Di chuyển Landing Page</button> </div>
        </div>
    </div>
</div>