
<div class="main-dashboard" id="lead-dashboard" ng-controller="emailTemplateCtrl">
    <div class="container">
        <section class="dashboard-page" ng-init="initDetail(1)">
            <md-content layout-padding>
                <div>
                    <form name="myForm" ng-submit="submitDetail()" novalidate>
                        <md-radio-group class="email-type" ng-model="detail.sendFromType">
                            <md-radio-button value="0" class="otp-first md-primary">Sử dụng email hệ thống</md-radio-button>
                            <md-radio-button ng-show="useremail.integration_emails.length>0" value="1" class="md-primary"> Sử dụng email cá nhân</md-radio-button>
                        </md-radio-group>

                        <div ng-show="detail.sendFromType==0" layout-gt-sm="row">
                            <md-input-container class="md-block" flex="50">
                                <label>Người gửi</label>
                                <input name="sendName" type="text" ng-model="detail.sendName" required>
                            </md-input-container>

                            <md-input-container class="md-block" flex="50">
                                <label>Email nhận trả lời</label>
                                <input name="replyTo" type="email" ng-model="detail.replyTo" required>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-wrap flex ng-show="detail.sendFromType==1">
                            <div flex="30" ng-repeat="item in useremail.integration_emails">
                                <md-checkbox class="md-primary" ng-checked="useremail.exists(item.id, useremail.selected)" ng-click="useremail.toggle(item.id, useremail.selected)">
                                    {{ item.email }} <!--<span ng-if="useremail.exists(item.id, useremail.selected)">selected</span>-->
                                </md-checkbox>
                                <md-input-container class="md-block">
                                    <label>Tên người gửi</label>
                                    <input name="sendName" type="text" ng-model="item.name" required>
                                </md-input-container>
                            </div>
                        </div>
                        
                        <md-input-container class="md-block">
                            <label>Tên template</label>
                            <input tname="name" ype="text" ng-model="detail.name" placeholder="Mẫu Auto Email 1" required>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Tiêu đề</label>
                            <input name="title" type="text" ng-model="detail.title" placeholder="Xác nhận đăng kí" required>
                        </md-input-container>
                        <div layout="row">
                            <div flex="70">
                                <textarea name="bodyHtml" ui-tinymce="tinymceOptions" ng-model="detail.bodyHtml" required></textarea>
                            </div>
                            <div flex="30" layout-padding>
                                <div layout-gt-sm="row" ng-repeat="item in variants">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Tên biến {{$index + 1}}</label>
                                        <input ng-model="item.n" readonly>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Giá trị</label>
                                        <input ng-model="item.v" readonly>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <div layout="row">
                            <md-button type="button" class="md-raised md-default" ui-sref="dashboard.autoResponder">Quay lại</md-button>
                            <md-button type="submit" class="md-raised md-primary">Lưu</md-button>
                        </div>
                    </form>
                    </div>
                </md-content>
</section>
    </div>
</div>