<div class="dialog small with-bg select-box active fadeIn animated" ng-controller="changeNameLadipageCtr as changeNameLadipage">
    <div class="header"> Page Title <i class="material-icons right floated" ng-click="closeNew()">close</i> </div>
    <div class="content">
        <p>Please fill in your page title change.</p>
        <div class="ui form">
            <div class="field"> <input type="text" placeholder="Your Page Title" ng-model="name_change"> </div>
        </div>
    </div>
    <div class="extra content center aligned"> <a href="" class="ui primary button" ng-click="changeNameLadipage()">Done</a> </div>
</div>