<div class="dialog with-footer modal pages page-management active fadeIn animated" ng-controller="managerLadipageCtr as managerLadipage">
    <div class="header">
        <div class="text" translate="LANDING_PAGE_MANAGEMENT.LPM_HEADER"></div> <i class="material-icons right-modal" ng-click="closeManage()">close</i>
    </div>
    <div class="content">
        <div class="control">
            <a class="ui red button" ng-click="newLadipage()"><i class="material-icons">add_circle</i> <span translate="LANDING_PAGE_MANAGEMENT.LPM_BUTTON_NEWPAGE"></span></a>
            <!--a class="ui button" ng-click="duplicatePage($event)"><i class="material-icons">content_copy</i><span\n                    translate="LANDING_PAGE_MANAGEMENT.LPM_BUTTON_DUPLICATE"></span></a>\n            <a class="ui button" ng-click="deletePage($event)"><i class="material-icons">delete</i> <span\n                    translate="GENERAL_DIALOG_FORM.DELETE"></span></a-->
            <div class="right floated">
                <input class="search-form" type="text" placeholder="Search..." ng-model="search_name" ng-change="searchLadi()">
                <div class="select-style" ng-if="role != 0"> <select ng-model="typeLoad" ng-change="changeTypeLoad(typeLoad)"> <option value="0" selected>Landing Page</option> <option value="10">Template</option> <option value="20">Section</option> </select> </div>
                <div class="select-style"> <select ng-model="typeShare" ng-change="changeTypeShare(typeShare)"> <option value="-1">Landing page của tôi</option> <option value="-2">Chia sẻ với tôi</option> </select> </div>
            </div>
            <div class="right floated" style="margin-right: 10px;margin-top: 7px"> <span>Landing Page: </span> {{totalItems}}/{{maxLadipage}} </div>
        </div>
        <div class="list col-250 scrollbox listitemscroll" ng-mouseover="loadMoreItemLadipage()">
            <div class="column searchladi" ng-repeat="item in itemsLadipage" pn-search-ladi="{{item.name}}" ng-click="selectItemLadipage($index)" pn-guid="{{item.guid}}" ng-dblclick="editorLadipage(item.guid)">
                <div class="select"></div>
                <div class="overlay"></div> <img ng-src="{{item.thumbnail}}" alt="{{item.name}}">
                <div class="detail">
                    <span class="name" ng-model="item.name" value="item.name" ng-blur="changeName(item.name, item.guid, $index,$event)">{{item.name}}</span>
                    <!--span class="right floated more">\n                            <a ng-if="item.path_html != \'\' && item.path_html != undefined && item.path_html != null"\n                               href="{{item.path_html}}" target="_blank" ng-mousedown="viewLadipage(item.guid, $index)"><i\n                                    class="material-icons right floated">visibility</i></a>\n                            <a ng-if="item.path_html == \'\' || item.path_html == undefined || item.path_html == null"\n                               ng-mousedown="viewLadipage(item.guid, $index)"><i class="material-icons right floated">visibility</i></a>\n                        </span-->
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <!--a class="ui grey button" ng-click="closeManage()" translate="GENERAL_DIALOG_FORM.CANCEL"></a-->
        <div class="right-modal"> <a class="ui button action" ng-click="editPage()" translate="GENERAL_DIALOG_FORM.APPLY"></a> </div>
    </div>
    <script>
        var scroll = new OptionWiget();
        scroll.scrollBox();
    </script>
</div>