@{
    ViewBag.Title = ViewBag.SEO_Title;
}

@{ Html.RenderPartial("_Header");}
<div class="cd-background-wrapper">
    @{Html.RenderPartial("_Category"); }
</div>
<div>
    <div style="margin: 0px auto;width: 600px;padding-top:30px;">
        <img style="width:100%" alt="not found" src="//hstatic.punnel.com/img/common/404_600x600.jpg" />
    </div>
</div>

