@{Layout = "_Layout2";}

<style>
   .navbar-brand{padding:0;}
</style>
<div id="preview_punnel" style="padding-top:50px;">
    <header>
        <div class="container">
            <div class="col-sm-12 user-setting user-view">
                <a class="navbar-brand" href="/@ViewBag.CateUrl">
                    <i class="material-icons border">arrow_back_ios</i>
                </a>
                <ul class="list-menu" style="text-align:center;">
                    <li id="desk_view" class="active"><a class="desktop-view"><i class="material-icons">desktop_mac</i></a></li>
                    <li id="mobile_view" class=""><a class="mobile-view"><i class="material-icons">phone_iphone</i></a></li>
                    <li><a target="_blank" href="//app.punnel.com/#!/auth/register/?tid=@ViewBag.Id" class="btn menu-regis hrv-btn-register">SỬ DỤNG THEME NÀY</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div id="preview_container">
        <div id="punnel-editor">
            <iframe src="https://templates.punnel.com/@ViewBag.Id/"></iframe>
        </div>
    </div>
</div>


