<div ng-controller="wrapperPropertiesCtr as wrapperProperties" style="height: 100vh">
    <div class="settings active" pn-option="options">
        <h3>Name<a href="" class="more"><i class="material-icons">chevron_right</i></a></h3>
        <div class="row" pn-option="background">
            <div class="col s12"> <input type="checkbox" class="filled-in" id="background"> <label for="background">Background</label> <a href="#custom-background" class="more"><i class="material-icons">chevron_right</i></a> </div>
        </div>
    </div>
</div>