<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <clear />
    <!--<add name="DBC_Punnel" connectionString="Data Source=.;Initial Catalog=Punnel;Persist Security Info=True;User ID=sa;Password=admin@123" providerName="System.Data.SqlClient" />-->
	  <add name="DBC_Punnel" connectionString="Data Source=103.92.28.60;Initial Catalog=Punnel;Persist Security Info=True;User ID=sa;Password=Sql@123" providerName="System.Data.SqlClient" />
	  <add name="DBC_PunnelAlert" connectionString="Data Source=103.92.28.60;Initial Catalog=PunnelAlert;Persist Security Info=True;User ID=sa;Password=Sql@123" providerName="System.Data.SqlClient" />
	  <add name="DBC_PunnelTracking" connectionString="Data Source=103.92.28.60;Initial Catalog=PunnelTracking;Persist Security Info=True;User ID=sa;Password=Sql@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
	  <!--<add key="LOCATIONIP_API" value="http://ip-api.com/json/{0}"/>-->
	  <add key="LOCATIONIP_API" value=" https://api.ipdata.co/{0}?api-key=728500ece70f86a1717178b182f9919b960fb17bb0a200900c05fd24" />
	<!--<add key="TaskScheduler_Tasks" value="LeadSendTask,LeadSendMailAutoReplyTask,TrackIPInfoTask,CreateSysFileHostingTask" />-->
	  <add key="TaskScheduler_Tasks" value="TrackIPInfoTask" />
    <add key="LANG" value="vi-VN" />
    <add key="LANG_CODE" value="VN" />
    <add key="LANG_ID" value="1" />
	<add key="LeadSendTask_Intervals" value="60" /> <!--60giay-->
	<add key="TrackIPInfoTask_Intervals" value="80" />
	  <add key="TrackIPInfoTask_InfoStatus" value="0" />
	<add key="CreateSysFileHostingTask_Intervals" value="120" />
	<add key="GOOGLE_CLIENT_ID" value="480758365207-u9675gvbf31uk63gm5q9b0263oje19fq.apps.googleusercontent.com" />
	<add key="GOOGLE_CLIENT_SECRET" value="oPTqi1DrZj_tAHGTAt75SjI7" /> 
	  
    <!--url-->
    <!--redis-->
    <!--<add key="redis.cache" value="127.0.0.1:6379,defaultDatabase=10,connectRetry=30,connectTimeout=10000,syncTimeout=10000,keepAlive=10,abortConnect=false" />
    <add key="redis.data" value="127.0.0.1:6379,defaultDatabase=10,connectRetry=30,connectTimeout=10000,syncTimeout=10000,keepAlive=10,abortConnect=false" />-->
	
  </appSettings>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="C:\Logs\PunnelServiceTask.xml" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j">
				<locationInfo value="true" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="LogFileAppender" />
		</root>
	</log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <enyim.com>
    <memcached protocol="Binary">
      <servers>
        <add address="127.0.0.1" port="11211" />
      </servers>
      <locator factory="MBN.Utils.Caching.KetamaNodeLocatorFactory, MBN.Utils" type="MBN.Utils.Caching.KetamaNodeLocator, MBN.Utils" />
    </memcached>
  </enyim.com>
</configuration>
