<?xml version="1.0"?>
<connectionStrings>
	<add name="AuthContext" connectionString="Data Source=.;Initial Catalog=Punnel2;Persist Security Info=True;User ID=sa;Password=Sql@123" providerName="System.Data.SqlClient" />
    <add name="DBC_Punnel" connectionString="Data Source=.;Initial Catalog=Punnel2;Persist Security Info=True;User ID=sa;Password=Sql@123" providerName="System.Data.SqlClient" />
</connectionStrings>