<?xml version="1.0"?>
<appSettings>
  <add key="TransferService_File" value="https://hstatic.punnel.com/upload" />
  <add key="TransferService_RemoveFile" value="https://hstatic.punnel.com/upload/removefile" />
  <add key="TransferService_DeleteFile" value="https://hstatic.punnel.com/upload/deletefile" />
  <add key="TransferService_Url" value="https://hstatic.punnel.com/upload/url" />
  <add key="TransferService_Salt" value="268b63f6e" />
  <add key="TransferService_Domain" value="https://hstatic.punnel.com/" />
  <add key="ApiStatic" value="https://hstatic.punnel.com" />
	<add key="IMG_ROOT" value="https://hstatic.punnel.com/img/" />
	<add key="IMG_THUMB" value="https://hstatic.punnel.com/img/s200x200" />

  <add key="redis.cache" value="127.0.0.1:6379,defaultDatabase=10,connectRetry=30,connectTimeout=10000,syncTimeout=10000,keepAlive=10,abortConnect=false"/>
  <add key="redis.data" value="127.0.0.1:6379,defaultDatabase=10,connectRetry=30,connectTimeout=10000,syncTimeout=10000,keepAlive=10,abortConnect=false"/>

  <!-- Google client -->
  <add key="GOOGLE_CLIENT_ID" value="480758365207-u9675gvbf31uk63gm5q9b0263oje19fq.apps.googleusercontent.com" />
  <add key="GOOGLE_CLIENT_SECRET" value="oPTqi1DrZj_tAHGTAt75SjI7" />
  <add key="GOOGLE_API_KEY" value="AIzaSyC3KwTWEW0djB0xoA8l1Xl4Zun7eBD6qWU" />
  
  <add key="GOOGLE_MAP_API_KEY" value="AIzaSyBpnd3GGCZP0P6LtEuAK5jAedcyUM9Z4A0" />
  <add key="GOOGLE_TRANSLATE_URL" value="https://translation.googleapis.com/language/translate/v2?key=AIzaSyDN5L44FcSO5cXEwAaZnXoJt3EqkmsOW8I" />

  <!-- facebook app localhost-->
  <!--<add key="FACEBOOK_APP_ID" value="1907468492645934" />
  <add key="FACEBOOK_APP_SECRET" value="b33ea1db877fb57160db5216f852a6ce"/>-->

  <!-- facebook app test-->
  <add key="FACEBOOK_APP_ID" value="986046761559978" />
  <add key="FACEBOOK_APP_SECRET" value="186e0b8047359e776625d95d587077b1"/>
  <add key="FACEBOOK_APP_TOKEN" value="370027363509032|fSFT-7JA_Gzswojp5Rl5on8hUvo"/>

  <!-- zalo app -->
  <add key="ZALO_APP_ID" value="3253505469606898301" />
  <add key="ZALO_APP_SECRET" value="6YOZci96vuJ4WJHW5GiE"/>
  <add key="ZALO_APP_CALLBACK" value="http://localhost:2171/authZaloComplete.html"/>
  <add key="ZALO_APP_VERSION" value="2.0"/>

  <add key="BUNDLE" value="false"/>
	
	<!--Publish Page config-->
  <add key="ROOT_DOMAIN" value="punnel.com"/>
  <add key="PUBLISH_FOLDER_ROOT" value="C:\Punnel\LANDING_PAGES"/>  
  <add key="PUBLISH_DOMAIN" value="punnel.co"/>
  <add key="DNS_SERVER" value="103.92.28.60"/>

  <!--Sms Service config-->
  <add key="SMS_PhoneUID" value="36" />
  <add key="SMS_Pin" value="111222" />
  <add key="SMS_Sim" value="sim1" />

	<!--ZaloPay config-->
	<add key="ZaloPay_AppId" value="207" />
	<add key="ZaloPay_Key1" value="bzMuVjSPLQyyXSkfpWeTld7csEbdv3x6" />
	<add key="ZaloPay_Key2" value="vzIgtn3y3fJ7ajS94A61ep3fDeNRVpwa" />

	<add key="ZaloPay_GetBanksUrl" value="https://sbgateway.zalopay.vn/api/getlistmerchantbanks" />
	<add key="ZaloPay_CreateOrderUrl" value="https://sbgateway.zalopay.vn/pay" />
	<add key="ZaloPay_QueryOrderUrl" value="https://sandbox.zalopay.com.vn/v001/tpe/getstatusbyapptransid" />
	<add key="ZaloPay_CreateOrderQR" value="https://sandbox.zalopay.com.vn/v001/tpe/createorder" />
	<add key="ZaloPay_RedirectQR" value="https://zalopay.com.vn/openapp/pay.html" />
	<add key="ZaloPay_SuccessUrl" value="http://192.168.2.240:8912/bank/ewallet/success.aspx"/>

	<!--SHOPIFY config-->
	<add key="SHOPIFY_API_KEY" value="802536ff9e8f6e44968f2558d2ab8d8e" />
	<add key="SHOPIFY_API_SECRET" value="466f0f657b68ff86fecabac49e23617d" />
	<add key="SHOPIFY_API_CALLBACK" value="https://c623a8d3.ngrok.io/integrationapi/shopifyauth/" />

	<!--Haravan config-->
  <add key="HARAVAN_APP_ID" value="52ba21441501f4134bedc0fe0b84cdf9" />
	<add key="HARAVAN_API_KEY" value="c562d922b9b9c3d656047e740d802cb2" />
	<add key="HARAVAN_API_SECRET" value="f74b44b7c24c666ebb551bd8fa0f085befdfe79f118818ff806f9a98ea47ca5e" />
	<add key="HARAVAN_API_CALLBACK" value="http://localhost:2171/integrationapi/haravanauth" />
  <add key="HARAVAN_API_INSTALL_CALLBACK" value="http://localhost:2171/integrationapi/haravaninstall" />

	<!--Sapo config-->
	<add key="SAPO_API_KEY" value="ffd70d06771043ada63ac99368397cfc" />
	<add key="SAPO_API_SECRET" value="2389fa6ca30e4fd5886516270c1c8d6a" />
	<add key="SAPO_API_CALLBACK" value="http://localhost:2171/integrationapi/sapoauth/" />

  <!--Operation system-->
  <add key="STAFF_IDS" value="4e06a077-5f49-4925-a1a7-24fd8241d5a6,752abced-bcc2-4f35-9e2a-33081439c698" />
</appSettings>
