<md-dialog aria-label="Gỡ nhãn">
    <md-toolbar>
        <div class="md-toolbar-tools white">
            <h2>Gỡ nhãn</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content style="min-width:400px;">
        <div class="md-dialog-content">
            <div layout="row" flex>
                <md-input-container flex>
                    <label>Chọn nhãn</label>
                    <md-select flex ng-model="leadTag.tag.id" ng-init="init()">
                        <md-option ng-repeat="item in tags" ng-value="item.id">
                            {{item.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-button layout-align="end center" class="md-raised md-primary" ng-click="submit()">
                        Ok
                    </md-button>
                </md-input-container>
            </div>
        </div>
</md-dialog-content>
</md-dialog>